# Diretórios e arquivos gerados pelo Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Relatórios de testes
allure-results/
allure-report/

# Backups do repositório
repositorio-backup*/